{{ $config := .Site.Data.config }}
<script src="{{ .Site.BaseURL }}js/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-114708351-1"></script>
{{ if $config.GA }}
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ $config.GA }}');
</script>
{{ end }}
<!-- Load PhotoSwipe js if the load-photoswipe shortcode has been used -->

</body>
<!-- some scripts -->
<script src="{{ .Site.BaseURL }}js/jquery-3.4.1.min.js" ></script>
<script src="{{ .Site.BaseURL }}js/popper.min.js" ></script>
<script src="{{ .Site.BaseURL }}js/bootstrap.min.js" ></script>
<script src="{{ .Site.BaseURL }}js/lazysizes.min.js" async=""></script>
<script src="{{ .Site.BaseURL }}js/main.min.js"></script>

</html>