<div class="text-center my-5">
  <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" class="h5 mr-4">
    <i class="cib-facebook"></i> Share
  </a>
  <a target="_blank" href="https://twitter.com/home?status={{ .Permalink }}" class="h5 mr-4">
    <i class="cib-twitter"></i> Tweet
  </a>
  <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}&source=Phill Price" class="h5">
    <i class="cib-linkedin"></i> Share
  </a>
</div>