{{ $sidebar := .Site.Data.sidebar }}
{{ $social := .Site.Data.social }}
<section id="sidebar" class="sidebar d-flex align-items-center p-5">
  <div class="main-info">

    <img src="{{.Site.BaseURL}}/images/{{ $sidebar.displayPicture }}" class="mb-3" alt="{{ $sidebar.highlightedText }} photo" width="80px">

    <h1 class="heading bs"> <img src="{{.Site.BaseURL}}/images/phillprice.png" width="328" height="47" alt="Phill Price"></h1>
    <p class="text-muted">{{ $sidebar.description | safeHTML }}</p>

    <div class="social my-4">

      {{ range $key, $value := $social }}
        <a rel="noopener" target="_blank" href="{{ $value }}" aria-label="Social Link for {{ $key }}">
          <i class="{{ $key }}"></i>
        </a>
      {{ end }}

    </div>

    <a href="blog" class="btn btn-dark btn-lg">Blog</a>

  </div>
</section>
